
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'urbanist', sans-serif;
}

html {

    --pink: #FFCBD4;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;

    align-items: center;

}

/* .logo {
    font-family: 'Urbanist', sans-serif;
    font-size: 2rem;
    font-weight: 700;

} */

.site-logo {
    height: 4rem;
    object-fit: cover;

    img {
        width: 100%;
        height: 100%;
    }
}


.menu {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;

    list-style-type: none;

    ul li {
        list-style-type: none;
        margin: 0;
        padding: 0;

    }

    a {
        color: black;
        text-decoration: none;
        font-size: 1.25rem;

        transition: color 0.2s;
    }

    a:hover {
        color: var(--primary-color);
    }

}

/* Ensure the sub-menu is hidden by default */
.sub-menu {
    display: none;
    position: absolute;
    background-color: #ffffff; /* Adjust background color */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    padding: 1rem;
    min-width: 200px; /* Adjust width if necessary */
    z-index: 1000;


    transform: translateX(-1rem);
}

/* Ensure sub-menu appears on hover */
.menu-item-has-children:hover > .sub-menu {
    display: block;
}

/* Style the sub-menu items */
.sub-menu li {
    list-style: none;
    padding: 10px 20px;
}

/* Style the links inside the sub-menu */
.sub-menu li a {
    text-decoration: none;
    color: #333;
    display: block;
    transition: background-color 0.3s ease;
}




/* footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    margin: 2rem;
    background-color: var(--primary-color);
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    
    h1 {
        margin: 0;
    }
    
    
}

.social {
    display: flex;
    gap: 1rem;
}

.icon {
    width: 3rem;
    
}

.icon:hover {
    transform: translateY(-1px);
}

/* body */

.post {
    font-size: 1.25rem;
}

.content {
    height: 65vh;
    text-align: center;
}

.post-title{
    text-align: center;
    font-size: 3rem;
}

.post-meta {
    /* display: none; */
    /* text-align: center; */
    margin: 2rem auto;
    width: 100%;
    text-align: center;


    /* a {
        color: black;
        text-decoration: none;
        font-size: 1.25rem;
        font-family: 'archivo', sans-serif;

        border: 1px solid black;
        padding: 0.5rem;
        border-radius: 1rem;
        margin: 0 0.5rem;
    }

    a:hover {
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
    } */
}

.post-thumbnail{

    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    padding:5rem  3rem;


    width: 90%;
    border-radius: 1.5rem;
    margin: 1rem auto;

    img {
        margin: auto 0;
        width: 60%;
        height: 100%;
        object-fit: cover;
    }

}
h1              { font-size: 2rem; margin: .67em 0 }
h2              { font-size: 1.5rem; margin: .75em 0 }
h3              { font-size: 1.25rem; margin: .83em 0 }
h4              { font-size: 1.17rem;}
h5              { font-size: .83rem; margin: 1.5em 0 }
h6              { font-size: .75rem; margin: 1.67em 0 }

p {
    font-size: 1.25rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 3rem 0 2rem 0;

}

h2, h3 {
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 4rem;
}

h4, h5, h6 {
    text-align: center;
    margin: 2rem 0 1rem 0;
}

p {
    max-width: 50rem;
    margin: 0 auto;
    line-height: 1.8;
}

p + p {
    margin-top: 1.5rem;
}

p {

    a {
        color: black;
        padding: 0.25rem;
        text-decoration: none;
        
        background-image: linear-gradient(var(--primary-color), var(--primary-color));
        background-size: 100% 40%;
        background-position: 100% 100%;
        background-repeat: no-repeat;
        transition: .3s;
    }

    a:hover {
        background-size: 100% 100%;

    }
    
}



.wp-block-image, .wp-block-video {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 90%;
    border-radius: 1rem;
    margin: 2rem auto;
    padding: 3rem;

    margin-top: 2rem;

    img, video {
        margin: auto 0;
        width: 60%;
        height: 100%;
        object-fit: cover;
    }

    figcaption {
        text-align: center;
        margin: 0;
        margin-top: 1rem;
        font-size: 0.9rem;
    }
}


.wp-block-pullquote {
    background-color: var(--primary-color);
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 2rem auto;

    padding: 2rem;
    border-radius: 1rem;
    
    p {
        font-size: 1.25rem;
    }

    cite {
        font-size: 1rem;
    }

}

ul.wp-block-list, ol {
    margin: 0 auto;
    max-width: 50rem;
    line-height: 1.8;
}

li {
    padding-left: 1rem;
}


.timeline-grid {
    margin: 0 5rem;
    grid-gap: 3rem;

    .phase {
        align-items: center;
        gap: 0;
    }
}



li::marker {
    text-shadow: 2px 2px 0 var(--primary-color);
    font-weight: 800;    
}

.num {
    font-family: 'Archivo', sans-serif;
    font-size: 4rem;
    font-weight: 800;
    text-shadow: 5px 5px 0 var(--primary-color);
    margin: 0 auto;
    margin-bottom: 0;
    text-align: center;
}

.wp-block-group {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 80rem;
    grid-gap: 2rem;

}



.wp-block-buttons {

    justify-content: center;

    .wp-block-button {
        a {
            background-color: transparent;
            border: 1px solid black;
            color: black;
            font-family: 'Archivo', sans-serif;
            font-weight: 900;
            font-size: 1rem;
            border-radius: 0.5rem;
            margin-bottom: 2rem;
            margin-top: 2rem;
            /* background-size: 100% 100%; */

            transition: background-color 0.2s, transform 0.2s;
        }

        a:hover {
            background-color: var(--primary-color);
            border: 1px solid var(--primary-color);
            
        }
    }
}

/* 404.php */
.error-page { 
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: calc(100vh - 20rem);
    justify-content: center;

    z-index: 100;

    h1 {
        font-size: 3rem;   
        margin: 0;
    }

    p {
        text-align: center;
    }

    .home-button {
        display: inline-block;
        padding: 1rem;
        margin: 0 auto;
        border-radius: 0.4rem;
        border: 1px solid black;

        font-weight: 900;

        color: black;
        text-decoration: none;

        transition: box-shadow ease 0.2s;

    }

    .home-button:hover {
        box-shadow: 3px 3px 0px var(--primary-color);
    }

    .home-button:visited {
        color: black;
    }

    .star {
        position: absolute;
    }
}

/* projects-template-default */
.projects-template-default .wp-block-columns {
    margin: 0 6rem;
}

.projects-template-default .wp-block-quote {
    background-color: var(--primary-color);
    width: 60%;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 2rem;
}

/* related projects */
.related-projects {
    border-top: 1px black solid;
    margin-top: 2rem;
    padding: 0 5rem;
    
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two-column layout */
        gap: 2rem; /* Spacing between columns */
    }
    
    .project-card {
        padding: 2rem;
        border-radius: 1rem;
        overflow: hidden;
        border: 1px solid black;
        transition: transform 0.3s ease;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .project-card:hover {
        transform: translateY(-5px);
    }
    
    .image-wrapper {
        width: 100%;
        overflow: hidden;
    }
    
    .project-card__image {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }
    
    .project-card__content {
        padding: 1rem;
    }
    
    .project-card__title {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    
    .project-card__categories {
        text-align: center;
        margin-bottom: 0.5rem;
    }
    
    .project-card__excerpt {
        font-size: 1rem;
        color: #444;
        margin-bottom: 1rem;
    }
    
    .project-card__button {
        text-decoration: none;
        display: inline-block;
        background-color: transparent;
        border: 1px solid black;
        color: black;
        font-family: 'Archivo', sans-serif;
        font-weight: 900;
        font-size: 1rem;
        border-radius: 0.5rem;
        margin: 0 auto;
        margin-top:1rem;
        padding: 1rem;

        /* background-size: 100% 100%; */

        transition: background-color 0.2s, transform 0.2s;
    }
    
    .project-card__button:hover {
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
    }

}

/* front-page.php */
.home .hero-home {
    background-color: var(--primary-color);
    padding: 3rem;

    h1, h2, h3, h4, h5, h6, p {
        text-align: left;
        margin: 0;
    }
}

.home .wp-block-post-featured-image img {
    width: 50%;
}

.home .wp-block-column:first-child {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding-left: 20rem;
}

.home .grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}

.home .project-card:nth-child(even) {
    background-color: var(--secondary-color);
}

.home .project-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 2rem 10rem;

}

.home .image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevents overflow issues */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;

}

.home .image-wrapper:hover {
    transform: translateY(-0.5rem);
}



.home .project-card__image {
    width: 100%; /* Makes sure it fills the grid column */
    height: 100%; /* Allows it to grow within the container */
    object-fit: cover; /* Ensures it covers the space without distortion */
}

.home .project-card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    h2 {
        margin: 0;
    }
}

.home .project-card__categories{
    text-align: center;
    margin: 0 auto;
}

.home .project-card__button{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    color: black;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 3rem;
    text-decoration: none;
    transition: transform 0.3s;
}

.home .project-card__button:hover {
    transform: scale(1.05);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* pagination */
.pagination .nav-links, .pagination {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-size: 1.25rem;
    gap: 1rem;

    .current {
        font-weight: 600;
        text-decoration: underline;

    }

    a {
        color: black;
        text-decoration: none;
    }
}



/* page.php default template */
.page-template-default .featured-image {
    width: 100%;


    img {
        width: 100%;
        height: auto;    
        border-radius: 1.5rem;

    }
}

.page-template-default .wp-block-pullquote {
    width: 100%;
    margin: 2rem 0;
}


.page-template-default .wrapper {
    font-size: 1.25rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin: 0 2rem;
    margin-top: 2rem;

    

    .wp-block-columns {
        margin: 0 5rem;
    }

    .wp-block-columns .wp-block-heading {
        text-align: left;
    }

}

.page-template-default .wrapper p {
        
    a {
    
        text-align: center;
        margin: 0 auto;
    }
}

.page-template-default .wp-block-columns .wp-block-image {
    padding: 0;
    overflow: hidden;

    img {
        width: 100%;
        border-radius: 1.5rem;
    }
}

/* project listing */
.project-listing {
    .project-card {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}


.project-listing .grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}

.project-listing .project-card:nth-child(even) {
    background-color: var(--secondary-color);
}

.project-listing .project-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 2rem 10rem;

}

.project-listing .image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevents overflow issues */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;

}

.project-listing .image-wrapper:hover {
    transform: translateY(-0.5rem);
}



.project-listing .project-card__image {
    width: 100%; /* Makes sure it fills the grid column */
    height: 100%; /* Allows it to grow within the container */
    object-fit: cover; /* Ensures it covers the space without distortion */
}

.project-listing .project-card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    h2 {
        margin: 0;
    }
}

.project-listing .project-card__categories{
    text-align: center;
    margin: 0 auto;
}

.project-listing .project-card__button{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    color: black;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 3rem;
    text-decoration: none;
    transition: transform 0.3s;
}

.project-listing .project-card__button:hover {
    transform: scale(1.05);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.project-listing .pagination {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
}

/* fullwidth template */
.page-template-fullwidth-template .featured-image {
    width: 20%;
    margin: 0 auto; /* Centers the image */
    display: flex;
    justify-content: center;
}

.page-template-fullwidth-template .featured-image img {
    width: 100%; /* Makes the image responsive within its container */
    height: auto; /* Maintains aspect ratio */
    display: block;
}

.page-template-fullwidth-template .wp-block-buttons {
    display: flex;
    justify-content: center;
}

/* archive.php */
.archive .title-section {
    background-color: var(--primary-color);
    height: 25vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.archive .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    margin: 4rem 5rem;
    gap: 2rem;
}



.archive .grid-item {
    
    border: 1px solid black;
    border-radius: 1.4rem;
    overflow: hidden;
    height: 30rem;

    transition: transform 0.3s ease;

    display: grid;
    grid-template-columns:  1fr;


}


.archive .grid-item:hover {
    transform: scale(1.03);
}

.blog-card__link {
    text-decoration: none;
    color: black;


}


.archive .blog-card__image-wrapper {
    width: auto;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;


    img {
        width: 100%;
        height: 80%;
        object-fit: cover;

    }
}

.archive h3.blog-card__title {
    margin: 0;
    margin-top: 1.5rem;
    color: black;
    text-decoration: none;
}

.archive .blog-card__content{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog-card__category-name {
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .archive .grid-item {

        grid-template-columns: 1fr;

    }
}

@media screen and (max-width: 850px) {
    .post-meta {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wp-block-image {
        img {
            width: 100%;
        }
    }

    p{
        margin: 0 1rem;
    }

    ul{
        padding: 1rem;
        padding-left: 3rem;
        
    }

    .wp-block-group.timeline-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .num {
            font-size: 3rem;
            margin-bottom: 0;
        }

    }

    /* footer */

    footer {
        flex-direction: column;
        padding: 1.5rem 2rem;
        margin: 1rem;
        margin-bottom: 5rem;
        gap: 1rem;
        
        
    }

    /* page-content */

    .wrapper {
        justify-content: center;
        align-items: center;
    }

    .wrapper .wp-block-columns {
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: center;

        .wp-block-heading {
            text-align: center;
        }

        .wp-block-buttons {
            display: flex;
            justify-content: center;
        }
    }

    .wrapper .wp-block-heading {
        text-align: center;
    }

    .archive .grid {
        display: grid;
        grid-template-columns: 1fr;
        margin: 2rem;
        grid-gap: 2rem;
    }

    .home .project-card {
        grid-template-columns: 1fr;
    }
    

    
}


